<div class="card mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Settings</h5>
            <div class="live-price">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center"  *ngFor="let item of settingLlist; index as i;"><strong>{{item}}</strong>  
                        <span class="text-success"><label class="switch">
                            <input type="checkbox" (change)="changeListen(item, $event.target.checked)">
                            <span class="slider round"></span>
                          </label></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
