<!-- <p>
  dashboard works!
</p> -->
<!-- <app-settings></app-settings> -->
<!-- <app-rooms></app-rooms> -->
<!-- <app-livereport></app-livereport> -->
<div class="row">
  <!-- <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little</p>
      </div>
      <div class="card-footer">
          <p class="card-text d-inline">Card footer</p>
          <a href="javascript:void()" class="card-link float-right">Card link</a>
      </div>
  </div>
  </div> -->
  <div class="col-md-12">
    <app-rooms>loading...</app-rooms>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-livereport>loading...</app-livereport>
  </div>
  <div class="col-md-6">
    <app-settings>Loding...</app-settings>
  </div>
</div>